server {
    listen 80;
    listen [::]:80;
    server_name {{ app_domain_address }};

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ app_domain_address }};

    ssl_certificate /etc/letsencrypt/live/{{ app_domain_address }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_domain_address }}/privkey.pem;

    root {{ remote_frontend_dir }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location {{ backend_api_prefix }}/ {
        proxy_pass http://localhost:{{ backend_port }}{{ backend_api_prefix }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}